<h1>What part of the MVC framework would deal with implementing the requested functionality?</h1>
<h3>1)If shipping address is Colorado, apply 6% sales tax to all orders</h3>
<p>Answer</p>
<h3>2)Do not allow shipments to Florida</h3>
<h3>3)Require user to login before checking out</h3>
<h3>4)The background color of the webpage should be light green</h3>
<h3>5)If the user tries to add an out of stock item to their cart, they should be redirected and see an error (hint: more than one; explain thinking)</h3>
<h3>6)The user should have a drop down to allow them to add a quantity of an item to the cart</h3>
<h3>7)If the user's shopping cart is empty, redirect them to the main page</h3>
<h3>8)If the user requests quantity 5, but only three are available, that row in the shopping cart should be highlighted in red</h3>